<template>
    <div id="app">
        <spidometer :value="value" class="flex-item" />
    </div>
</template>

<script>
    import Spidometer from "./components/Spidometer.vue";
    import axios from "axios";

    export default {
        components: {
            Spidometer,
        },
        data() {
            return {
                value: 0,
            };
        },
        mounted() {
            setInterval(this.timer, 100);
        },
        methods: {
            async timer() {
                let res = await axios.get("http://localhost:8000/data");
                let mes = res.data[res.data.length - 1];
                this.value = mes.P * 1000;
            },
        },
    };
</script>

<style>
    html,
    body {
        height: 100%;
    }
    #app {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100%;
    }
    .flex-item {
        flex-basis: 33%;
        display: flex;
        justify-content: center;
    }
</style>
