<template>
    <div>
        <!-- millivatti -->
        <vue-speedometer
            :minValue="0"
            :maxValue="25"
            :value="value"
            :width="400"
            :height="250"
            :needleColor="'#0000ff'"
            :segmentColors="['#49ff35', '#f3ff26', '#ffab22', '#fd2020']"
            :segments="4"
            :needleTransitionDuration="200"
            :ringWidth="60"
            :needleHeightRatio="0.6"
            :textColor="'#000000'"
            :currentValueText="'Hetke võimsus: ${value} mW'"
        />
    </div>
</template>

<script>
    import VueSpeedometer from "vue-speedometer";

    export default {
        props: {
            value: {
                type: Number,
                required: true,
            },
        },
        components: {
            VueSpeedometer,
        },
    };
</script>

<style></style>
