.column {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

body {
    background-image: url('background3.jpg');
    background-size: fixed;
    /*background-size: 1500px;*/    
}

.content {
    backdrop-filter: blur(30px);
}

.content > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content {
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.5);
} 

.center {
    text-align: center;
}

.error {
    color: red;
    font-weight: 600;
    font-family: arial;
}
.userIdInput {
    padding-bottom: 0 ;
    padding-top: 20;
}

label {
    color: rgb(49, 49, 49);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

img {
    width: 1000px;
    padding: 10px;
}

h2 {
    color: rgb(49, 49, 49);
    padding: 20px;
    font-family: arial;
}
#userId {
    height: 25px;
}
input[type="submit"] {
    font:bold 15px arial,sans-serif ;
    color: rgb(49, 49, 49);
    padding:5px 15px; 
    background:rgb(255, 195, 65); 
    border:0 none;
    width: 150px;
    height: 40px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 20px; 
}
.submit {
    color: rgb(49, 49, 49);
    padding: 20px;
    font-family: arial;
}

input[type="text"] {
    border-radius: 5px; 
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    line-height: 16px;
    width: 100%;
    height: 100%;
}

input[type="file"] {
    visibility: hidden;
    position: relative;
    width: 185.06px;
    height: 32px;
  }
  input[type="file"]:before {
    content: attr(placeholder);
    visibility: visible;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    /* Add here your design... */
    line-height: 16px;
    padding: 8px 32px 8px 8px;
    color: rgba(0,0,0,.3);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }
  input[type="file"]:after {
    content: "\1F5BF";
    visibility: visible;
    position: absolute;
    margin-top: 8px;
    right: 8px;
  }